repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: debug-statements

-   repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
    -   id: isort
        name: sort imports

-   repo: https://github.com/asottile/add-trailing-comma
    rev: v3.1.0
    hooks:
      - id: add-trailing-comma

-   repo: local
    hooks:
      - id: check_new_migrations
        name: check for new migrations
        entry: inv django.check-new-migrations
        language: system
        pass_filenames: false
        types: [ file ]
        stages: [ push ]

      - id: linters
        name: run linters
        entry: inv linters.all
        language: system
        pass_filenames: false
        types: [ python ]
        stages: [ push ]
